.estilosContador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: auto;
    background: #820b37;
    color: rgb(252, 252, 249);
    margin: 10px auto;
    padding: 10px;
}

.contenedorControles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background: white;
    width: 90%;
    height: 30px;
}
.colorLetter{
    color: white;
}

.botonControl {
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: white;
    border-radius: 50%;
    background: #ec7ee3;
}
.botonControl:disabled{
    background: grey;
}

.botonAgregar {
    padding: 10px;
    border-radius: 5px;
    background: #a65cdf;
    color: white;
    width: 100%;
    margin: 10px 0;
}
.botonAgregar:disabled{
    background: grey;
}