.tarjeta-producto{
    width: 100px;
    height: auto;
    margin: 20px;
    padding: 20px;
    background-color: #8847d7;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.tarjeta-producto h4, p{
    margin: 0;
    margin-top: 20px;
    font-size: 18px;
    color: #000000;
}
.tarjeta-producto img{
    object-fit: contain;
    width: auto;
    height: 200px;
    max-width: 500px;

}
.boton-ver{
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    background-color: #a42bbc;
    color: white;
    margin: 2px;
}